.wrapper {
    display: block;
    margin: 0;
    padding: 0;
}
.container {
	width: 1140; 
	margin-right: auto;
	margin-left: auto; 
	background-color: #2B2B2B;
}


.seven:first-child,.eight:first-child, .nine:first-child, .ten:first-child,.eleven:first-child,.five:first-child, .four:first-child, .three:first-child, .two:first-child, .one:first-child, .six:first-child { 
	margin-left: 0; /* This line of code makes the left-most column align to the left of the screen */
}
.eleven {
	width: 91.5%;
	float: left;
	margin-left: 2%;
}
.ten {
	width: 83%;
	float: left;
	margin-left: 2%;
}
.nine {
	width: 74.5%;
	float: left;
	margin-left: 2%;
}
.eight {
	width: 66%;
	float: left;
	margin-left: 2%;
}
.seven {
	width: 57.5%;
	float: left;
	margin-left: 2%;
}
.six {
	width: 49%; /* This div spans six columns (the entire row)*/
	float: left;
	margin-left: 2%;
}

.six_index {
	margin-left: 0;
	width: 49%;
	float: left;
}
.five {
	width: 40.5%; /* This div spans five columns */
	margin-left: 2%;
	float:left;
}

.four {
	width: 32%;
	float:left;
	margin-left: 2%;
}
.three {
	width: 23.5%;
	float:left;
	margin-left: 2%;
}
.two {
	width: 15%;
	float:left;
	margin-left: 2%;

}
.one {
	width: 6.5%;
	float:left;
	margin-left: 2%;
}
.row {
	width: 100%;
	clear: both; /* Clear creates new styles for the next row */
	padding: 0px;
	margin: 0px;
}

.offset-12 { margin-left: 100%; }
.offset-11 { margin-left: 91.666666666667%; }
.offset-10 { margin-left: 83.333333333333%; }
.offset-9 {  margin-left: 75%; }
.offset-8 {  margin-left: 66.666666666667%; }
.offset-7 {  margin-left: 58.333333333333%; }
.offset-6 {  margin-left: 50%; }
.offset-5 {  margin-left: 41.666666666667%; }
.offset-4 {  margin-left: 33.333333333333%; }
.offset-3 {  margin-left: 25%; }
.offset-2 {  margin-left: 16.666666666667%; }
.offset-1 {  margin-left: 8.333333333333%; }

.offset-6_contact {
	margin-left: 48%;
}

.offset-7_diensten {
	margin-left: 57.3333333%
}
.rowlogodesign {
	margin-top: -200px;
}



