@import url('https://fonts.googleapis.com/css?family=Arvo|Josefin+Slab|Megrim');
@font-face {
  font-family: 'Socicon';
  src: url('Socicon.eot');
  src: url('Socicon.eot#iefix') format('embedded-opentype'), url('Socicon.woff2') format('woff2'), url('Socicon.ttf') format('truetype'), url('Socicon.woff') format('woff'), url('Socicon.svg#Socicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

h1 {
    font-family: 'Megrim', sans-serif;
    font-size: 50px;
    color: #2B2B2B;
    -webkit-text-fill-color: #2B2B2B;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #2B2B2B;
}

h2 {
    font-family: 'Arvo', serif;
    font-size: 50px;
    font-weight: bold;
    color: black;
}

h3 {
    font-family: "Arvo", serif;
    font-size: 30px;
    color: white;
}

p {
    font-family: 'Josefin Slab', serif;
    font-size: 28px;
    color: white;
}

a {
    text-decoration: none;
    color: black
}


.navigation {
    font-family: 'Arvo', serif;
    font-size: 70px;
    color: white;
}

.copyright {
    font-family: 'Josefin Slab', serif;
    font-size: 15px;
    padding-bottom: 50px;
    color: white;
}

#buttonverzend {
    font-family: 'Arvo', serif;
    font-size: 20px;
}

table {
    font-size: 18px;
}

.field {
    font-family: 'Josefin Slab', serif;
    font-size: 30px;
}

.fieldlang {
    font-family: 'Josefin Slab', serif;
    font-size: 30px;
}


